.search-group{
    display: flex;
    min-width: 10px;
    width: fit-content;
    position:sticky;
    top:8%;
    bottom: 80%;
    margin: 1rem 0;
    align-self: center;
    justify-content: center;
    justify-self: center;
    border-radius: 1.2rem;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    opacity: .6;
    z-index: 2;
    cursor: pointer;
}

.search-group:hover,  .search-group:focus-within{
    opacity: 1;
    z-index: 3;
    transition: 300ms transform ease-out, 300ms border ease;
}

.search-group:focus-within{
    transform: scale(1.05);
    border: 1px solid #222;
}



.search-input{
    position: relative;
    padding: 0.7rem;
    min-width: 5px;
    width: 0px;
    max-width: min(500px,75vw);
    border-radius: 1.2rem 0 0 1.2rem;
    border: none;
    background-color: #222;
    backdrop-filter: blur(3px) brightness(1.4) ;
    transition: 450ms width ease-out;
}

.search-input:focus, .search-group:hover .search-input{
    background-color: rgba(255, 255, 255,.5);
    min-width: 200px;
    width:75vw;
    outline: none;
}

.search-btn{ 
    width: fit-content;
    border-radius: 0  1.2rem 1.2rem 0;
}

.search-btn img{
    filter: invert(80%);
    width: 18px;
    user-select: none;
}

.search-btn:hover{
    filter: invert(20%);
}