* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9e8d0;
  padding: 20px;
}

.logo{
    height: 100px;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.login-btn {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: large;
  transition: all ease-in 100ms;
}

.login-btn:hover{
    background-color: #464545 ;
}


.profile-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.profile-options a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.merchant-note {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}



