* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9e8d0;
}

#app{
    display: flex;
    flex-flow: column;
}

.logo{
    height: 75px;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5px;
    transition: 200ms height ease, 300ms background ease;
    z-index: 2;
    background: linear-gradient(to bottom,#fdeacf, #fbe4c5b2, #fbe4c500);
    backdrop-filter: blur(5px);
    padding-block: .25rem;
}

header > *{
    cursor: pointer;
    user-select: none;
}

header h1{
  font-size: x-large;
}

header h1 span{
    color: #cb0300;
}


nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: larger;
    row-gap: 10px;
    top: 0;
    left: 0; /* Pins to the left side */
    background-color: whitesmoke;
    margin: 0;
    padding: 10px 20px;
    padding-top: 25px; 
    width: 250px; /* Base width, adjustable within min/max constraints */
    height: 100%; /* Full height of parent */
    z-index: 2;
    transform: translateX(-500px);
    opacity: 0;
    transition: transform  500ms ease-out,  opacity 800ms ease; ;  
}

nav .user-options{
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

.nav-active{
    transition: transform 500ms ease-in, opacity 800ms ease; 
    transform: translateX(0);
    opacity: .98;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));    
    z-index: 10;
}

.nav-active p{
    cursor: pointer;
    user-select: none;
}
.nav-active p:hover{
    opacity: .75;
}

#hamburger{
    margin-left: 20px;
    padding: .35rem .80rem;
    transition: 200ms all ease-in;
}

#hamburger:hover{
    background-color: rgba(255, 218, 185, 0.4);
    border-radius: 100%;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all 450ms ease;
}
.overlay-active{
    display: block;
    opacity: 1;
    background-color: rgba(53, 53, 53, 0.75);
    transition: opacity 1s ease, background-color 5s ease-in;
    z-index: 5;
}

.btn {
    width: 100%;
    padding: 0.8rem 1.25rem;
    border: none;
    border-radius: 1.5rem;
    background: #222;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
.login-btn {
    padding: 0.8rem 1.25rem;
    transition: all ease-in 100ms;
}

.login-btn:hover{
    background-color: #464545 ;
}


.profile-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.profile-options a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.merchant-note {
    color: red;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(2px);
    z-index: 10;
}

.popup-content {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    width: fit-content;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.144) 0 10px 1rem;
}

.popup-content p{
    margin: 1rem;
}

form input {
    min-width: fit-content;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
}

.close-btn {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-btn:hover{
    color: rgb(148, 0, 0);
}

#container{
    display:flexbox;
    min-height: 75vh;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 5rem;
    position: relative;
    width: 75vw;
    max-width: 1500px;
    align-self: center;
}

@media (max-width: 800px) {
#container{
    padding: 1rem;
    margin: 1rem;
}
}



