* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9e8d0;
    padding: 20px;
}

#app{
    display: flex;
    flex-flow: column;
}

.logo{
    height: 100px;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

header > *{
    cursor: pointer;
    user-select: none;
}

header h1 span{
    color: #cb0300;
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: larger;
    row-gap: 10px;
    top: 0;
    left: 0; /* Pins to the left side */
    background-color: whitesmoke;
    margin: 0;
    padding: 10px 20px;
    padding-top: 25px; 
    width: 250px; /* Base width, adjustable within min/max constraints */
    height: 100%; /* Full height of parent */
    z-index: 2;
    transform: translateX(-500px);
    opacity: 0;
    transition: transform  500ms ease-out,  opacity 800ms ease; ;  
}

.nav-active{
    transition: transform 500ms ease-in, opacity 800ms ease; 
    transform: translateX(0);
    opacity: .98;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));    
}
.nav-active > *{
    cursor: pointer;
    user-select: none;
}

#hamburger{
    padding: .35rem .80rem;
}

#hamburger:hover{
    background-color: #fff5d5;
    border-radius: 100%;
    transition: all ease-in 200ms;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all 450ms ease;
}
.overlay-active{
    display: block;
    opacity: 1;
    background-color: rgba(53, 53, 53, 0.75);
    transition: opacity 1s ease, background-color 5s ease-in;
}

.btn {
    width: 100%;
    padding: 0.8rem 1.25rem;
    border: none;
    border-radius: 1.5rem;
    background: #222;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
.login-btn {
    padding: 0.8rem 1.25rem;
    transition: all ease-in 100ms;
}

.login-btn:hover{
    background-color: #464545 ;
}


.profile-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.profile-options a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.merchant-note {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(2px);
    z-index: 3;
}

.popup-content {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    width: fit-content;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.144) 0 10px 1rem;
}

.popup-content p{
    margin: 1rem;
}



