#restaurant-info {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 5rem;
    height: auto;        
    min-height: 80vh;    
    box-sizing: border-box;
    max-width: 1300px;
    width:85vw;
    align-self: center;

}

#restaurant-info hr{
    margin: 1rem .05rem;
    opacity: 0.2;
} 

#restaurant-name > img {
    height: 75px;
    border-radius: 50%;
}

#restaurant-name{
    display: flex;
    align-items: center;
    gap: 20px;
}

.reservation-btn{
    width: fit-content;
    padding: .8rem 2rem;
    margin-left: 2rem;
    transition: all 500ms ease;
}

.reservation-btn:hover{
    background-color: #eec05c;
    color : black;
    transition: all 200ms ease;
}

.detail-header{
    display:flex;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
    width: 100%;
}

.detail-header  p{
    color: rgba(0, 0, 0, 0.6);
}

.rating {
  color: #ecad00 !important;
  font-weight: bold;
}

#restaurant-content{
    margin-top: 10px;
}

.tags{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: .25rem;
  gap: .5rem;
  width: fit-content;
}

.tags p {
  background-color: grey;
  color: white;
  border-radius: 1rem;
  padding: .25rem .5rem;
  font-size: smaller;
}


@media (max-width: 800px) {

#restaurant-info{
    padding: 1rem;
    margin: 1rem;
}
}



