#restaurant-name{
    display: flex;
    align-items: center;
    width: 100%;
}

.edit-btn{
    position: relative;
    margin-left: auto;
    width: fit-content;
    padding: .5rem 2rem;
    font-weight: normal;
}

.edit-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}


.save-btn{
    background-color: green;
    margin-top: 2rem;
}

.save-btn:hover{
    background-color: rgb(0, 167, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}